#searchBar {
    background-image: url("../../../img/fontawesome-free-5.11.2-desktop/svgs/solid/search.svg");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: white;
    background-size: 20px 20px;
    padding-left: 30px;
}